In [65]:
# Import the required packages

import pandas as pd
import pykx as kx
import numpy as np
import pyarrow as pa
from datetime import datetime

kx.q.consol_size = [15, 100]

In [9]:
# Let do the indexing and slicing

# This datasets holds bitcoin trading data for every minute from 2017.08.17 to early 2024

tab_btc = kx.q.read.csv("/home/senthil/data/raw/BTCUSDT.csv") # source kx academy

# I have tried to load the same in python. But my system is dead.

In [21]:
tab_btc.dtypes #pykx way

pykx.Table(pykx.q('
columns                      datatypes
-----------------------------------------------
timestamp                    "kx.TimestampAtom"
open                         "kx.RealAtom"
high                         "kx.RealAtom"
low                          "kx.RealAtom"
close                        "kx.RealAtom"
volume                       "kx.FloatAtom"
close_time                   "kx.TimestampAtom"
quote_asset_volume           "kx.FloatAtom"
number_of_trades             "kx.ShortAtom"
taker_buy_base_asset_volume  "kx.FloatAtom"
taker_buy_quote_asset_volume "kx.FloatAtom"
ignore                       "kx.BooleanAtom"
'))

In [22]:
kx.q.meta(tab_btc) #kdb way

pykx.KeyedTable(pykx.q('
c                           | t f a
----------------------------| -----
timestamp                   | p
open                        | e
high                        | e
low                         | e
close                       | e
volume                      | f
close_time                  | p
quote_asset_volume          | f
number_of_trades            | h
taker_buy_base_asset_volume | f
taker_buy_quote_asset_volume| f
ignore                      | b
'))

In [25]:
tab_btc[:1440] #First 1440 data

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_..
-----------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.0..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.0..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.0..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.0..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:10:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:11:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:12:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:13:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:14:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:15:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:16:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:17:00.000000000 4261.48 4264.88 4261.48 4264.88 0.075455 2017.0..
2017.08.17D04:18:00.000000000 4264.88 4264.88 4264.88 4264.88 0        2017.0..
2017.08.17D04:19:00.000000000 4261.48 4261.48 4261.48 4261.48 0.409211 2017.0..
..
'))

In [27]:
first_day = tab_btc[:1440]
first_day.shape

(pykx.LongAtom(pykx.q('1440')), pykx.LongAtom(pykx.q('12')))

In [30]:
# 30 days prices

thirty_day = tab_btc[:4320]

thirty_day.shape

thirty_day.tail()

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_..
-----------------------------------------------------------------------------..
2017.08.20D03:55:00.000000000 4111.26 4111.26 4111.26 4111.26 0        2017.0..
2017.08.20D03:56:00.000000000 4111.26 4111.26 4111.26 4111.26 0        2017.0..
2017.08.20D03:57:00.000000000 4111.26 4111.26 4111.26 4111.26 0        2017.0..
2017.08.20D03:58:00.000000000 4111.26 4111.26 4111.26 4111.26 0        2017.0..
2017.08.20D03:59:00.000000000 4094.62 4094.62 4094.62 4094.62 0.045187 2017.0..
'))

### Data Manipulation Operations

In [32]:
first_day['open'].mean()

pykx.FloatAtom(pykx.q('4342.387'))

In [38]:
first_day['high'].max()

pykx.RealAtom(pykx.q('4485.39e'))

In [41]:
first_day['volume'].median()

pykx.FloatAtom(pykx.q('0.214759'))

### Custom Functions with apply()

In [44]:
def addwithN(x,y):
    return x+y

In [45]:
first_day['open']

pykx.RealVector(pykx.q('4261.48 4261.48 4280.56 4261.48 4261.48 4261.48 4261.48 4261.48 4261.48 4261...'))

In [52]:
first_day['open'].apply(addwithN,4)

pykx.RealVector(pykx.q('4265.48 4265.48 4284.56 4265.48 4265.48 4265.48 4265.48 4265.48 4265.48 4265...'))

In [53]:
# write a kdb function

fun = kx.q('{x+y}')

In [54]:
first_day['open'].apply(fun,4) #applied the kdb function

pykx.RealVector(pykx.q('4265.48 4265.48 4284.56 4265.48 4265.48 4265.48 4265.48 4265.48 4265.48 4265...'))

In [55]:
# Find the correlation between two tables


tab_eth = kx.q.read.csv("/home/senthil/data/raw/ETHUSDT.csv")

In [56]:
# Get the first day records

eth_first_day = tab_eth[:1440]

In [58]:
eth_first_day.shape

(pykx.LongAtom(pykx.q('1440')), pykx.LongAtom(pykx.q('12')))

In [71]:
# pykx
st = datetime.now()

kx.q.cor(first_day['close'], eth_first_day['close'])

ed = datetime.now()

ed - st

datetime.timedelta(microseconds=1007)

In [61]:
# Let's check with pandas

btc_df = pd.read_csv("/home/senthil/data/raw/BTCUSDT.csv")
eth_df = pd.read_csv("/home/senthil/data/raw/ETHUSDT.csv")

In [70]:
st = datetime.now()
btc_df[:1440]['close'].corr(eth_df[:1440]['close'])
ed = datetime.now()

ed - st

datetime.timedelta(microseconds=5421)

In [81]:
# Let do it for all data

#pykx

st = datetime.now()

kx.q.cor(tab_btc['close'], tab_eth['close'])

ed = datetime.now()

ed - st

datetime.timedelta(microseconds=21179)

In [82]:
# Pandas

st = datetime.now()
btc_df['close'].corr(eth_df['close'])
ed = datetime.now()

ed - st

datetime.timedelta(microseconds=65349)

In [103]:
# Rename the column 

tab_btc.rename(columns = {'number_of_trades':'num_of_trade'})

# reassign to make the change permananent

pykx.Table(pykx.q('
timestamp                     open    high    low     close   volume   close_..
-----------------------------------------------------------------------------..
2017.08.17D04:00:00.000000000 4261.48 4261.48 4261.48 4261.48 1.775183 2017.0..
2017.08.17D04:01:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:02:00.000000000 4280.56 4280.56 4280.56 4280.56 0.261074 2017.0..
2017.08.17D04:03:00.000000000 4261.48 4261.48 4261.48 4261.48 0.012008 2017.0..
2017.08.17D04:04:00.000000000 4261.48 4261.48 4261.48 4261.48 0.140796 2017.0..
2017.08.17D04:05:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:06:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:07:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:08:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:09:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:10:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:11:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:12:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:13:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:14:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:15:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:16:00.000000000 4261.48 4261.48 4261.48 4261.48 0        2017.0..
2017.08.17D04:17:00.000000000 4261.48 4264.88 4261.48 4264.88 0.075455 2017.0..
2017.08.17D04:18:00.000000000 4264.88 4264.88 4264.88 4264.88 0        2017.0..
2017.08.17D04:19:00.000000000 4261.48 4261.48 4261.48 4261.48 0.409211 2017.0..
..
'))

In [135]:
# Let check the at function's speed

# Use at[] to find a value in a specific row/column

st = datetime.now()
tab_btc.at[1038465,'close']
ed = datetime.now()

ed - st

datetime.timedelta(microseconds=1749)

In [136]:
# Normal indexing

st = datetime.now()
tab_btc['close'][1038465]
ed = datetime.now()

ed - st # Can't determine which one is fatser but the normal indexing is very convenient

datetime.timedelta(microseconds=868)

In [138]:
tab_eth.get(['open','close'])

pykx.Table(pykx.q('
open   close
-------------
301.13 301.13
301.13 301.13
300    300
300    300
301.13 301.13
300    301.13
300.1  300.1
300.1  300.1
300.1  298
298    298
298    298
298    298
298    298
298    298
298    298
298    298
298    298
298    298
298    298
299.05 299.05
..
'))

### qsql in function form

In [153]:
# select

tab_btc.select(columns = ['close', 'open'])

#tab_btc.select(columns = kx.Column('open')) # bit irritation needs to choose column one by one

pykx.Table(pykx.q('
close   open
---------------
4261.48 4261.48
4261.48 4261.48
4280.56 4280.56
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4261.48 4261.48
4264.88 4261.48
4264.88 4264.88
4261.48 4261.48
..
'))

In [156]:
# where condition

tab_btc.select(columns = ['timestamp','open', 'close'], where = kx.Column('timestamp').date == kx.DateAtom(2017,8,23))


# ahh long function query

pykx.Table(pykx.q('
timestamp                     open    close
---------------------------------------------
2017.08.23D00:00:00.000000000 4040    4040
2017.08.23D00:01:00.000000000 4075    4075.9
2017.08.23D00:02:00.000000000 4039.79 4039.78
2017.08.23D00:03:00.000000000 4039.79 4039.79
2017.08.23D00:04:00.000000000 4039.79 4039.79
2017.08.23D00:05:00.000000000 4049    4027
2017.08.23D00:06:00.000000000 4027    4027
2017.08.23D00:07:00.000000000 4027    4027
2017.08.23D00:08:00.000000000 4027    4027
2017.08.23D00:09:00.000000000 4027    4027
2017.08.23D00:10:00.000000000 4027    4027
2017.08.23D00:11:00.000000000 4050.99 4013.89
2017.08.23D00:12:00.000000000 4013.9  4013.9
2017.08.23D00:13:00.000000000 4014.01 4014.01
2017.08.23D00:14:00.000000000 4014.01 4014.01
2017.08.23D00:15:00.000000000 4028.83 4034.8
2017.08.23D00:16:00.000000000 4048.91 4034.8
2017.08.23D00:17:00.000000000 4034.8  4034.8
2017.08.23D00:18:00.000000000 4062.99 4029.82
2017.08.23D00:19:00.000000000 4029.82 4029.82
..
'))

In [161]:
tab_btc.select(columns = ['timestamp','open', 'close'], where = ((kx.Column('timestamp').date == kx.DateAtom(2017,8,23)) & (kx.Column('open') >= kx.RealAtom(4100))))

pykx.Table(pykx.q('
timestamp                     open    close
---------------------------------------------
2017.08.23D02:00:00.000000000 4101.53 4106.09
2017.08.23D02:01:00.000000000 4106.09 4106.09
2017.08.23D02:02:00.000000000 4106.09 4106.09
2017.08.23D02:03:00.000000000 4106.09 4106.09
2017.08.23D02:04:00.000000000 4106.09 4106.09
2017.08.23D02:05:00.000000000 4106.09 4106.09
2017.08.23D02:06:00.000000000 4106.88 4106.09
2017.08.23D02:07:00.000000000 4127.99 4127.99
2017.08.23D02:08:00.000000000 4103.52 4103.52
2017.08.23D02:09:00.000000000 4103.52 4103.52
2017.08.23D02:10:00.000000000 4103.52 4103.52
2017.08.23D02:11:00.000000000 4103.52 4103.52
2017.08.23D02:12:00.000000000 4103.52 4103.52
2017.08.23D02:13:00.000000000 4103.52 4103.52
2017.08.23D02:14:00.000000000 4112.49 4112.49
2017.08.23D02:15:00.000000000 4112.49 4112.49
2017.08.23D02:16:00.000000000 4112.49 4112.49
2017.08.23D02:17:00.000000000 4119.75 4119.75
2017.08.23D02:18:00.000000000 4112.49 4112.49
2017.08.23D02:19:00.000000000 4123.07 4123.07
..
'))

In [167]:
# by clause

tab_btc.select(columns = kx.Column('open').last()& kx.Column('close').max(),by=kx.Column('timestamp').date)

pykx.KeyedTable(pykx.q('
timestamp | open    close
----------| ---------------
2017.08.17| 4285.08 4485.39
2017.08.18| 4108.37 4371.52
2017.08.19| 4139.98 4184.69
2017.08.20| 4069.13 4211.08
2017.08.21| 4016    4114.86
2017.08.22| 4040    4104.82
2017.08.23| 4114.01 4265.8
2017.08.24| 4316.01 4371.68
2017.08.25| 4280.68 4453.91
2017.08.26| 4337.44 4367
2017.08.27| 4364.95 4400
2017.08.28| 4386.69 4386.69
2017.08.29| 4587.48 4625.85
2017.08.30| 4555.14 4647.51
2017.08.31| 4724.89 4745.42
2017.09.01| 4834.91 4885.55
2017.09.02| 4472.14 4939.19
2017.09.03| 4509.08 4714.76
2017.09.04| 4100.11 4520
2017.09.05| 4366.47 4484.99
..
'))